
{% load staticfiles %}

<html>

<head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
		<style>
			#map {
				width: 800px;
				height: 500px;
			}

			.info {
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.8);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
			}
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}

			.legend {
				text-align: left;
				line-height: 18px;
				color: #555;
			}
			.legend i {
				width: 18px;
				height: 18px;
				float: left;
				margin-right: 8px;
				opacity: 0.7;
			}
		</style>
		<style type="text/css"></style>
<style type="text/css"></style>
</head>
<body>
	<div id="map" style="width: 1250px; height: 600px; position: relative;" ></div>
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src="{{ STATIC_URL }}maptest1.js"></script>
	<script type="text/javascript">

		var map = L.map('map').setView([41.88, -87.62], 10);

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZXN0ZWxsZW8iLCJhIjoiY2lsbGtjcnloNXRxZnVoa3Brb3B4Z25pcSJ9.ivjRcsVM9CnL1oWlCC1LSQ', {
			maxZoom: 18,
			id: 'estelleo.pc8hminh'
		}).addTo(map);



		// control that shows state info on hover
		var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		info.update = function (props) {
			this._div.innerHTML = '<h4>Energy Effiency by Neighborhood</h4>' +  (props ?
				'<b>' + props.community + '</b><br />' + '# ' + props.elec_rank + ' in electricity usage'
				: 'Hover over a neighborhood');
		};

		info.addTo(map);


		// get color depending on population density value
		function getColor(d) {
			return d < 10 ? '#800026' :
			       d < 20  ? '#BD0026' :
			       d < 30  ? '#E31A1C' :
			       d < 40  ? '#FC4E2A' :
			       d < 50   ? '#FD8D3C' :
			       d < 60   ? '#FEB24C' :
			       d < 70   ? '#FED976' :
			                  '#FFEDA0';
		}

		function style(feature) {
			return {
				weight: 2,
				opacity: 1,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.7,
				fillColor: getColor(feature.properties.elec_rank)
			};
		}

		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 5,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		var geojson;

		function resetHighlight(e) {
			geojson.resetStyle(e.target);
			info.update();
		}

		function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}

		geojson = L.geoJson(neighborhoodData, {
			style: style,
			onEachFeature: onEachFeature
		}).addTo(map);


		var legend = L.control({position: 'bottomright'});

		legend.onAdd = function (map) {

			var div = L.DomUtil.create('div', 'info legend'),
				grades = [1, 10, 20, 30, 40, 50, 60, 70],
				labels = [],
				from, to;

			for (var i = 0; i < grades.length; i++) {
				from = grades[i];
				to = grades[i + 1];

				labels.push(
					'<i style="background:' + getColor(from + 1) + '"></i> ' +
					from + (to ? '&ndash;' + to : '+'));
			}

			div.innerHTML = labels.join('<br>');
			return div;
		};

		legend.addTo(map);

	</script>


</body>

</html>